controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    # Controllers
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    gripper_controller:
      type: position_controllers/JointGroupPositionController


# Joint State Broadcaster
joint_state_broadcaster:
  ros__parameters:
    joints:
      # UR5e Arm
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
      # Gripper
      - right_hand_Thumb_Opposition
      - right_hand_Thumb_Flexion
      - right_hand_Index_Finger_Proximal
      - right_hand_Index_Finger_Distal
      - right_hand_Middle_Finger_Proximal
      - right_hand_Middle_Finger_Distal
      - right_hand_Ring_Finger
      - right_hand_Pinky
      - right_hand_Finger_Spread


# UR5e Arm Controller
arm_controller:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint

    command_interfaces:
      - position

    state_interfaces:
      - position
      - velocity

    state_publish_rate: 100.0
    action_monitor_rate: 20.0

    allow_partial_joints_goal: false
    constraints:
      stopped_velocity_tolerance: 0.01
      goal_time: 0.0


# Gripper Controller
gripper_controller:
  ros__parameters:
    joints:
      - right_hand_Thumb_Opposition
      - right_hand_Thumb_Flexion
      - right_hand_Index_Finger_Proximal
      - right_hand_Index_Finger_Distal
      - right_hand_Middle_Finger_Proximal
      - right_hand_Middle_Finger_Distal
      - right_hand_Ring_Finger
      - right_hand_Pinky
      - right_hand_Finger_Spread

    command_interfaces:
      - position

    state_interfaces:
      - position
